<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Document</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/login" method="post">
            <div class="form_div">
                <label>Login:</label>
                <input class="field_class" name="login_txt" type="text" placeholder="Username" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password_txt" type="password" placeholder="Password">
                <button class="submit_class" type="submit">Entrar</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Welcome to <a href="#">Capgemini</a></p>
    </footer>
</body>
</html>